{% extends "myapp/base.html" %} {% load static %} {% load i18n %} {% block title %}Contact{% endblock %} {% block id %}contact{% endblock %} {% block content %}
<section class="contact means">
    <div class="wrap">
        <div class="img-box transitionable">
            <img src="{% static 'myapp/img/deco/map.png' %}" alt="Map">
        </div>

        <ul class="transitionable">
            <li>
                <h4>{% translate 'Miami' %}</h4>
                <p>World Plaza</p>

                <address>600 Brickell Avenue,</br>
					Suite 1710</br>
					Miami, Florida</br>
					United States</br>
					P.C. 33131</br>
					Phone. <a href="">(800) 624 2200</a></address>
            </li>
            <li>
                <h4>{% translate 'Mexico City' %}</h4>
                <p>Torre Mayor</p>

                <address>Av. Paseo de la Reforma 505,</br>
					piso 15</br>
					Cuauhtémoc </br>
					Ciudad de México, México. C.P. 06500</br>
					Phone. <a href="">(800) 624 2200</a></address>
            </li>
            <li>
                <h4>{% translate 'Cuernavaca' %}</h4>
                <p>Plaza Corporativa</p>

                <address>Av. Domingo Diez 1589</br>
					Interior 12</br>
					El Empleado</br>
					Cuernavaca, Morelos, México.</br>
					C.P. 62250</br>
					Phone. <a href="">7773331588</a> | <a href="">7773994743</a></address>
            </li>
        </ul>
    </div>
</section>

<section class="contact-form transitionable">
    <div class="wrap">
        <h2 class="title-xl">{% translate 'Get in touch' %}</h2>

        <div class="contact-space">
            {% if submitted %}
            <p class="success">{% translate 'Your message was submitted successfully. Thank you.' %}</p>
            {% else %}
            <form action="" method="post" novalidate="">
                <table>
                    {{ form.as_table }}
                    <tr>
                        <th>&nbsp;</th>
                        <td class="submit">
                            <input type="submit" value="{% translate 'SEND' %}">
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}